body {
    background-color: #eae4f7;
  }
.navbar {
    background-color: rgba(0, 89, 255, 0.788) !important;
    
    
}

.nav-link {
    color: white !important;
    font-weight: bold;
}   

.jumbotron { 
    text-align: center;
    background-color: rgb(252, 200, 247) !important;
}

article {
text-align: center;
list-style: none;    
}

